{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Task view' %}</h1>
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2>{{ task.name }}</h2>
        </div>
        <div class="card-body ">
            <p>{{ task.description }}</p>
            <hr>
            <div class="container">
                <div class="row p-1">
                    <div class="col">{% trans 'Author' %}</div>
                    <div class="col">{{ task.author }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans 'Executor' %}</div>
                    <div class="col">{{ task.executor }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans 'Status' %}</div>
                    <div class="col">{{ task.statuse }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans 'Date of creation' %}</div>
                    <div class="col">{{ task.created_at|date:'d.m.Y h:m' }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <h6>{% trans 'Labels' %}:</h6>
                        <ul>
                            {% for label in task.labels.all %}
                            <li>{{ label.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <form action="{% url 'update_task' pk=task.id %}">
                          <button type="submit" class="badge bg-warning-subtle text-warning-emphasis rounded-pill no-underline">{% trans 'Change' %}</button>
                        </form>
                        <form action="{% url 'delete_task' pk=task.id %}">
                          <button type="submit" class="badge bg-danger-subtle text-danger-emphasis rounded-pill no-underline">{% trans 'Delete' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}